build-Codegenerator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
build-Codegenerator-Desktop_Qt_5_7_0_MinGW_32bit-Release/
build-Codegenerator-Qt_5_7_0_mingw53_32-Debug
build-Codegenerator-Qt_5_7_0_mingw53_32-Release
googletest-master/
Sources/Codegenerator.pro.user
UniTtest/build-TestCodegenerator-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
UniTtest/build-TestCodegenerator-Desktop_Qt_5_4_2_MinGW_32bit2-Debug/
build-Codegenerator-Desktop_Qt_5_4_2_MinGW_32bit2-Release/
UnitTest/build-TestCodegenerator-Desktop_Qt_5_4_2_MinGW_32bit2-Release/
UnitTest/build-TestCodegenerator-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
UnitTest/build-TestCodegenerator-Desktop_Qt_5_7_0_MinGW_32bit2-Debug/
UnitTest/build-TestCodegenerator-Desktop_Qt_5_7_0_MinGW_32bit-Release/
UnitTest/build-TestCodegenerator-Qt_5_7_0_mingw53_32-Debug/
Sources/Codegenerator.pro.user*
UnitTest/TestCodegenerator.pro.user*
UnitTest/TestCodegenerator/TestCodegenerator.pro*
Sources/object_script.Codegenerator.*
UnitTest/build-Testgenerator-Qt_*
*.Debug
*.Release
UnitTest/build-TestCodegenerator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile
*.o
UnitTest/build-TestCodegenerator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/TestCodegenerator.exe
*.stash
UnitTest/Files/Scripts/xml/MixedFunctionsAndAttributes.xml.txt~
*.un~
UnitTest/Files/Scripts/xml/MixedFunctionsAndAttributes1.xml.txt
UnitTest/Files/Scripts/xml/MixedFunctionsAndAttributes.xml~
UnitTest/Files/Scripts/xml/test.xml
Sources/debug/*
Sources/release/*
UnitTest/TestCodegenerator/debug/*
UnitTest/TestCodegenerator/release/*
Sources/.qmake.stash
UnitTest/TestCodegenerator/.qmake.stash
Souces/Makefile
Sources/Makefile*
UnitTest/TestCodegenerator/Makefile
UnitTest/TestCodegenerator/Makefile*


